-- Add unique constraint to prevent duplicate fee structures
CREATE UNIQUE INDEX IF NOT EXISTS fee_structures_unique_constraint 
ON public.fee_structures (class_level, stream, session_id, term_id, purpose);

-- Remove existing duplicates (keep the first one)
WITH ranked_fees AS (
  SELECT *,
    ROW_NUMBER() OVER (
      PARTITION BY class_level, stream, session_id, term_id, purpose 
      ORDER BY created_at ASC
    ) as rn
  FROM public.fee_structures
)
DELETE FROM public.fee_structures 
WHERE id IN (
  SELECT id FROM ranked_fees WHERE rn > 1
);
